In [5]:
from a_NEMDE_scraping_unpacking import outer_NEM_scraper, extract_zip_from_url

In [ ]:
f = outer_NEM_scraper()

In [12]:
len(f)

3623

In [2]:
from b_NEMDE_parsing_to_df import xml_to_dataframe, clean_filter_concat_pkl

In [1]:
import os

In [ ]:
path_chunks = '{}/nem-data/nemde_chunk'.format(os.environ['HOME'])
path_destination = '{}/nem-data/test_funcs'.format(os.environ['HOME'])

df = xml_to_dataframe(path_chunks, path_destination)

In [ ]:
path_pkls = '{}/nem-data/nemde_clean/chunks_clean'.format(os.environ['HOME'])
path_destination = '{}/nem-data/test_funcs'.format(os.environ['HOME'])

clean_filter_concat_pkl(path_pkls, path_destination)

8.pkl
(7323536, 10)
(681836, 10)
5.pkl
(6416046, 10)
(1109990, 10)
9.pkl
(8421314, 10)
(1892688, 10)
1.pkl
(7114458, 10)
(2451516, 10)
10.pkl

In [2]:
from c_target_exploration import mod_concat_NEMDE, df_groupby_period, load_MMSDM_dispatch, join_NEMDE_MMSDM, adjust_NEMDE_MMSDM

In [3]:
file_path = '{}/nem-data/nemde_clean/concat_for_energy_SA1.pkl'.format(os.environ['HOME'])

df = mod_concat_NEMDE(file_path)

In [4]:
df.head()

,RegionID,Market,Price,Unit,DispatchedMarket,Increase
PeriodID,,,,,,
2018-07-31 23:55:00,SA1,Energy,70.70204,ER01,ENOF,0.34712
2018-07-31 23:55:00,SA1,Energy,70.70204,ER04,ENOF,0.31058
2018-07-31 23:55:00,SA1,Energy,70.70204,ER03,ENOF,0.34712
2018-07-31 23:55:00,SA1,Energy,70.70204,ER02,ENOF,0.31058
2018-07-31 23:50:00,SA1,Energy,69.24109,DEVILS_G,L5MI,-1.29132

In [5]:
path_destination = '{}/nem-data/test_funcs/df_grouped'.format(os.environ['HOME'])

df_group_period = df_groupby_period(df, path_destination)
df_group_period

                        Price
PeriodID
2018-07-31 23:55:00  70.70204
2018-07-31 23:50:00  69.24109
2018-07-31 23:45:00  69.94850
2018-07-31 23:40:00  74.04497
2018-07-31 23:35:00  76.44245
...                       ...
2009-07-01 04:20:00   1.75480
2009-07-01 04:15:00   1.44014
2009-07-01 04:10:00  -0.00006
2009-07-01 04:05:00  -0.00006
2009-07-01 04:00:00   1.35918

[946847 rows x 1 columns]

In [6]:
file_path = '{}/nem-data/clean/dispatch_price.csv'.format(os.environ['HOME'])

df_dispatch = load_MMSDM_dispatch(file_path)

In [7]:
df_dispatch.head()

,INTERVENTION NSW1,INTERVENTION QLD1,INTERVENTION SA1,INTERVENTION TAS1,INTERVENTION VIC1,RRP NSW1,RRP QLD1,RRP SA1,RRP TAS1,RRP VIC1
tempus_interval_time,,,,,,,,,,
2018-09-30 23:55:00,0.0,0.0,0.0,0.0,0.0,59.52000,54.88858,85.00003,93.21690,96.33543
2018-09-30 23:50:00,0.0,0.0,0.0,0.0,0.0,59.52000,55.27444,96.10016,111.72000,108.67973
2018-09-30 23:45:00,0.0,0.0,0.0,0.0,0.0,59.51983,54.90880,115.00006,125.55753,130.33619
2018-09-30 23:40:00,0.0,0.0,0.0,0.0,0.0,63.63926,59.95000,115.00006,122.28489,127.86460
2018-09-30 23:35:00,0.0,0.0,0.0,0.0,0.0,63.61185,59.95000,115.00004,123.63876,128.67790

In [8]:
print(df_dispatch.index.max())
print(df_dispatch.index.min())

2018-09-30 23:55:00
2009-07-01 00:00:00

In [9]:
df_join = join_NEMDE_MMSDM(df_group_period, df_dispatch, "inner")

The percentage of mismatching dispatch prices from MMSDM and NEMDE is 0.41 %.

In [10]:
df_join

                        Price   RRP SA1
2018-07-31 23:55:00  70.70204  70.70204
2018-07-31 23:50:00  69.24109  69.24109
2018-07-31 23:45:00  69.94850  69.94850
2018-07-31 23:40:00  74.04497  74.04497
2018-07-31 23:35:00  76.44245  76.44245
...                       ...       ...
2009-07-01 04:20:00   1.75480   1.75480
2009-07-01 04:15:00   1.44014   1.44014
2009-07-01 04:10:00  -0.00006  -0.00006
2009-07-01 04:05:00  -0.00006  -0.00006
2009-07-01 04:00:00   1.35918   1.35918

[946847 rows x 2 columns]

In [11]:
df_join.index.max()

Timestamp('2018-07-31 23:55:00')

In [12]:
df_join.index.min()

Timestamp('2009-07-01 04:00:00')

In [13]:
df_join

                        Price   RRP SA1
2018-07-31 23:55:00  70.70204  70.70204
2018-07-31 23:50:00  69.24109  69.24109
2018-07-31 23:45:00  69.94850  69.94850
2018-07-31 23:40:00  74.04497  74.04497
2018-07-31 23:35:00  76.44245  76.44245
...                       ...       ...
2009-07-01 04:20:00   1.75480   1.75480
2009-07-01 04:15:00   1.44014   1.44014
2009-07-01 04:10:00  -0.00006  -0.00006
2009-07-01 04:05:00  -0.00006  -0.00006
2009-07-01 04:00:00   1.35918   1.35918

[946847 rows x 2 columns]

In [14]:
f = adjust_NEMDE_MMSDM(df_join)

The percentage of mismatching dispatch prices from MMSDM and NEMDE chamged to 0.0 %.

In [3]:
import pandas as pd
import os

In [4]:
df_grouped_price = pd.read_pickle('{}/nem-data/nemde_clean/df_grouped_price.pkl'.format(os.environ['HOME']))
df_grouped_price.head()

                        Price
PeriodID
2018-07-31 23:55:00  70.70204
2018-07-31 23:50:00  69.24109
2018-07-31 23:45:00  69.94850
2018-07-31 23:40:00  74.04497
2018-07-31 23:35:00  76.44245

In [20]:
sent, tuples = correct_timedelta(df_grouped_price, 300)

In [22]:
sent

['from index 8879 on, it has been 2592300 s or 720 h.',
 'from index 23741 on, it has been 600 s or 0 h.',
 'from index 28750 on, it has been 600 s or 0 h.',
 'from index 75753 on, it has been 600 s or 0 h.',
 'from index 76916 on, it has been 600 s or 0 h.',
 'from index 173184 on, it has been 600 s or 0 h.',
 'from index 179819 on, it has been 600 s or 0 h.',
 'from index 179831 on, it has been 600 s or 0 h.',
 'from index 179849 on, it has been 600 s or 0 h.',
 'from index 179852 on, it has been 600 s or 0 h.',
 'from index 179858 on, it has been 600 s or 0 h.',
 'from index 179870 on, it has been 600 s or 0 h.',
 'from index 179873 on, it has been 1200 s or 0 h.',
 'from index 179892 on, it has been 600 s or 0 h.',
 'from index 190312 on, it has been 600 s or 0 h.',
 'from index 190316 on, it has been 600 s or 0 h.',
 'from index 190362 on, it has been 600 s or 0 h.',
 'from index 196113 on, it has been 600 s or 0 h.',
 'from index 196404 on, it has been 900 s or 0 h.',
 'from index 196405 on, it has been 600 s or 0 h.',
 'from index 197229 on, it has been 600 s or 0 h.',
 'from index 197232 on, it has been 600 s or 0 h.',
 'from index 197266 on, it has been 600 s or 0 h.',
 'from index 201290 on, it has been 600 s or 0 h.',
 'from index 239428 on, it has been 600 s or 0 h.',
 'from index 256441 on, it has been 600 s or 0 h.',
 'from index 490105 on, it has been 600 s or 0 h.',
 'from index 515339 on, it has been 1500 s or 0 h.',
 'from index 793820 on, it has been 600 s or 0 h.',
 'from index 794497 on, it has been 600 s or 0 h.',
 'from index 818962 on, it has been 600 s or 0 h.',
 'from index 868534 on, it has been 600 s or 0 h.',
 'from index 887404 on, it has been 600 s or 0 h.',
 'from index 925535 on, it has been 600 s or 0 h.',
 'from index 925538 on, it has been 600 s or 0 h.',
 'from index 928129 on, it has been 600 s or 0 h.',
 'from index 928146 on, it has been 600 s or 0 h.',
 'from index 928152 on, it has been 600 s or 0 h.',
 'from index 928416 on, it has been 600 s or 0 h.',
 'from index 928418 on, it has been 600 s or 0 h.',
 'from index 928697 on, it has been 600 s or 0 h.',
 'from index 932580 on, it has been 600 s or 0 h.',
 'from index 933317 on, it has been 600 s or 0 h.',
 'from index 933323 on, it has been 600 s or 0 h.']

In [6]:
import bin_sums

In [7]:
bin_sums = bin_sums.bin_sums(df_grouped_price, "Price", 6)
bin_sums[0:20]

[72.08639333333333,
 49.86055999999999,
 76.524205,
 81.65568999999999,
 83.24851333333334,
 85.84831833333332,
 111.708505,
 104.13424166666665,
 105.17583333333333,
 137.99528666666666,
 162.3376966666667,
 228.120995,
 266.35031666666663,
 122.83904833333334,
 79.98045,
 57.78874666666667,
 30.63237666666667,
 23.110836666666668,
 27.005956666666666,
 -144.857895]

In [1]:
import pandas as pd
import os

In [2]:
from c_target_exploration import mod_concat_NEMDE

In [3]:
file_path = '{}/nem-data/nemde_clean/concat_for_energy_SA1.pkl'.format(os.environ['HOME'])
df = mod_concat_NEMDE(file_path)
df.head()

,RegionID,Market,Price,DUID,DispatchedMarket,Increase
PeriodID,,,,,,
2018-07-31 23:55:00,SA1,Energy,70.70204,ER01,ENOF,0.34712
2018-07-31 23:55:00,SA1,Energy,70.70204,ER04,ENOF,0.31058
2018-07-31 23:55:00,SA1,Energy,70.70204,ER03,ENOF,0.34712
2018-07-31 23:55:00,SA1,Energy,70.70204,ER02,ENOF,0.31058
2018-07-31 23:50:00,SA1,Energy,69.24109,DEVILS_G,L5MI,-1.29132

In [4]:
path = '{}/Desktop/Portfolio_project/DUID_CO2.csv'.format(os.environ['HOME'])
CO2_generators = pd.read_csv(path)
CO2_generators.head()

,DUID,GENSETID,REGIONID,CO2E_EMISSIONS_FACTOR,CO2E_ENERGY_SOURCE,CO2E_DATA_SOURCE
0,AGLNOW1,AGLNOW1,NSW1,0.062,Landfill biogas methane,NGA 2018
1,AGLSITA1,AGLSITA1,NSW1,0.062,Landfill biogas methane,NGA 2018
2,APPIN,APPIN,NSW1,0.765,Coal seam methane,NGA 2018
3,BDONGHYD,BDONGHYD,NSW1,0.000,Hydro,ISP 2018
4,BERYLSF1,BERYLSF1,NSW1,0.000,Solar,ISP 2018

In [5]:
from d_concat_DUID_marginal_fuelsource import DUID_items, merge_DUID_GENSETID

In [6]:
lst_diff = DUID_items(df, CO2_generators)
lst_diff

The NEMDE_market_table uses 177 DUID items from the DUID CO2_generator column.
The NEMDE_market_table uses 163 DUID items from the GENSETID CO2_generator column.
The items ['ANGAS1', 'MCKAY2', 'ANGAS2'] from the GENSETID column should be added to the DUID column.

['ANGAS1', 'MCKAY2', 'ANGAS2']

In [7]:
merge_DUID_GENSETID(CO2_generators, lst_diff)

         DUID  CO2E_EMISSIONS_FACTOR
0      AGLHAL               1.174440
1     AGLNOW1               0.062000
2    AGLSITA1               0.062000
3      AGLSOM               0.817915
4      ANGAS1               1.013600
..        ...                    ...
382     YWNL1               1.315515
383     YWPS1               1.315515
384     YWPS2               1.315515
385     YWPS3               1.315515
386     YWPS4               1.315515

[387 rows x 2 columns]